:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

app-header {
  flex: 0 0 auto;
}

.content {
  flex: 1 1 auto;
  overflow-y: auto;
  padding: 1rem;
  background: linear-gradient(90deg, #115293 0%, #4099ff 100%);
}
