[flake8]
# długość linii zgodna z Black
max-line-length = 88
# Black łamie linie przed dwukropkiem, więc ignorujemy
extend-ignore = E203, W503

# katalogi i pliki do pominięcia
exclude =
    .venv,
    __pycache__,
    */migrations/*,
    static,
    media

extend-select = I
