<mat-toolbar color="primary" class="app-header">
  <span class="logo" routerLink="/">CognizantBookingApp</span>
  <span class="spacer"></span>

  <ng-container *ngIf="!(isAuthenticated$ | async); else loggedIn">
    <a mat-button routerLink="/login">Login</a>
    <a mat-button routerLink="/register">Registration</a>
  </ng-container>

  <ng-template #loggedIn>
    <a mat-button routerLink="/calendar">Calendar</a>
    <a mat-button routerLink="/admin">Admin</a>

    <button
      mat-raised-button
      color="warn"
      class="logout-btn"
      (click)="logout()"
    >
      <mat-icon class="logout-icon">logout</mat-icon>
      <span>Logout</span>
    </button>
  </ng-template>
</mat-toolbar>
