<mat-toolbar color="primary" class="app-header">
  <span class="logo" routerLink="/">CognizantBookingApp</span>

  <span class="spacer"></span>

  <ng-container *ngIf="!(isAuthenticated$ | async); else loggedIn">
    <a mat-button routerLink="/register" class="text">Registration</a>
    <button
      mat-flat-button
      color="warn"
      class="logout-btn"
      routerLink="/login"
    >
      <mat-icon class="logout-icon">login</mat-icon>
      <span>Login</span>
    </button>
  </ng-container>

  <ng-template #loggedIn>
    <ng-container *ngIf="isStaff$ | async">
      <a mat-button routerLink="/calendar" class="text">Calendar</a>
      <a mat-button routerLink="/admin" class="text">Admin</a>
    </ng-container>

    <span class="username">Hi, {{ username$ | async }}!</span>
    <button mat-flat-button color="warn" class="logout-btn" (click)="logout()">
      <mat-icon class="logout-icon">logout</mat-icon>
      <span>Logout</span>
    </button>
  </ng-template>
</mat-toolbar>
