<!--TODO implementacja widoku: Admin view where admins can add timeslots for given event category  -->
<!--TODO implementacja widoku: Admin can view all timeslots and see if any user signed up for it -->
<!--TODO obsłużenie wyjątków na backend -->
<!--TODO stylizowanie -->

<!--TODO do notatek obsłużenie błędów w snackbarach-->
<!--TODO do notatek - co dodać - redis, inne scope na dni- dni robocze, dni wolne, scope na 1 dzień-->

<div class="filters">
  <mat-checkbox
    *ngFor="let cat of (eventCategories$ | async)!; trackBy: trackByCategory"
    [checked]="selectedCategoryIds.includes(cat.id)"
    (change)="onToggleCategory(cat.id, $event.checked)"
  >
    {{ cat.name }}
  </mat-checkbox>
  <pre></pre>
</div>

<div class="week-navigation">
  <button mat-raised-button (click)="prevWeek()">
    <mat-icon>arrow_back</mat-icon>
    <span>Last week</span>
  </button>
  <span class="week-label">
    {{ daysOfWeek[0] | date: "dd.MM.yyyy" }} -
    {{ daysOfWeek[6] | date: "dd.MM.yyyy" }}
  </span>
  <button mat-raised-button (click)="nextWeek()">
    <span>Next week</span>
    <mat-icon iconPositionEnd>arrow_forward</mat-icon>
  </button>
</div>

<div class="calendar-table-container" *ngIf="timeSlots$ | async as timeSlots">
  <table class="calendar-table mat-elevation-z1">
    <thead>
      <tr>
        <th>Hour</th>
        <th *ngFor="let day of daysOfWeek">{{ day | date: "EEE dd.MM" }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hour of hours">
        <td class="hour-label">{{ hour }}:00</td>
        <td *ngFor="let day of daysOfWeek" class="calendar-cell">
          <ng-container
            *ngFor="
              let slot of timeSlots
                | slice: 0 : timeSlots.length
                | filter: slotMatchesCell : day : hour
            "
          >
            <button
              mat-stroked-button
              [style.backgroundColor]="slot.category | categoryColor"
              [disabled]="slot.is_booked && !slot.booked_by_current_user"
              (click)="onSlotClick(slot)"
            >
              <ng-container *ngIf="!slot.is_booked; else bookedTpl">
                Book ({{ getCategoryName(slot.category) }},
                {{ slot.start_dt | date: "HH:mm" }}-{{
                  slot.end_dt | date: "HH:mm"
                }})
              </ng-container>
              <ng-template #bookedTpl>
                <span *ngIf="slot.booked_by_current_user; else takenTpl"
                  >Cancel: {{ slot.start_dt | date: "HH:mm" }}</span
                >
                <ng-template #takenTpl>Booked</ng-template>
              </ng-template>
            </button>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="loadingSlots$ | async" class="loading-spinner">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
