<div class="admin-container">
  <!--  TODO info o stworzonej kategorii/ obsługa błedów sukcesu-->
  <!--  TODO powinno się dać tylko wybrać pełne godziny-->

  <form [formGroup]="slotForm" (ngSubmit)="onAdd()">
    <mat-form-field appearance="outline">
      <mat-label>Data i godzina startu</mat-label>
      <input
        matInput
        type="datetime-local"
        formControlName="start_dt"
        [min]="minStart"
        step="3600"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Data i godzina zakończenia</mat-label>
      <input
        matInput
        type="datetime-local"
        formControlName="end_dt"
        [min]="minStart"
        step="3600"
        readonly
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Kategoria wydarzenia</mat-label>
      <mat-select formControlName="category" required>
        <mat-option *ngFor="let c of eventCategories$ | async" [value]="c.id">
          {{ c.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="slotForm.invalid"
    >
      Dodaj slot
    </button>
  </form>

  <table mat-table [dataSource]="(timeSlots$ | async) || []">
    <ng-container matColumnDef="start">
      <th mat-header-cell *matHeaderCellDef>Start</th>
      <td mat-cell *matCellDef="let s">
        {{ s.start_dt | date: "yyyy-MM-dd HH:mm" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef>Category</th>
      <td mat-cell *matCellDef="let s">{{ getCategoryName(s.category) }}</td>
    </ng-container>
    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef>Users</th>
      <td mat-cell *matCellDef="let s">{{ s.booking?.user || "-" }}</td>
    </ng-container>
    <ng-container matColumnDef="bookedAt">
      <th mat-header-cell *matHeaderCellDef>Bookings at</th>
      <td mat-cell *matCellDef="let s">
        {{ s.booking?.booked_at | date: "HH:mm dd.MM.yyyy" }}
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="['start', 'category', 'user', 'bookedAt']"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['start', 'category', 'user', 'bookedAt']"
    ></tr>
  </table>
</div>
<!--TODO administratorzy mogą dodawać timeslots dla danej kategorii wydarzeń. -->

<!--TODO implementacja widoku: Admin view where admins can add timeslots for given event category  -->
<!--TODO obsłużenie wyjątków na backend -->
<!-- TODO obsłużenie błędów na frontend gdy serwer backend nieodpowiada, powiadomienia dla użytkownika w postaci snackbarów-->
<!--TODO dokumentacja w kodzie i poza nim-->
<!--TODO testy jednostkowe-->

<!--TODO implementacja redis - dynamiczna zmiana dostępności timeslotów w aplikacji-->
<!--TODO dodanie widoków alternatywnych gdy nie ma danych lub token logowania użytkownika wygasł-->
<!--TODO automatyczny logout i przekierowanie do panelu logowania-->
<!--TODO do notatek obsłużenie błędów w snackbarach-->
<!--TODO do notatek - co dodać - redis, inne scope na dni- dni robocze, dni wolne, scope na 1 dzień-->
<!--TODO do notatek - co dodać - RESPONSYWNOŚĆ!-->
<!--TODO do notatek - co dodać - sticky heddery i sticky kolumn, może zamiana na mat-table!-->
