<mat-card>
  <h2>Registration</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Username</mat-label>
      <input matInput type="text" formControlName="username" required />
      <mat-error *ngIf="registerForm.get('username')?.errors as errors">
        <ng-container *ngFor="let key of objectKeys(errors)">
          <ng-container [ngSwitch]="key">
            <span *ngSwitchCase="'required'">Username is required</span>
            <span *ngSwitchCase="'username'">Enter a valid username</span>
            <span *ngSwitchCase="'server'">{{ errors["server"] }}</span>
          </ng-container>
        </ng-container>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" required />
      <mat-error *ngIf="registerForm.get('email')?.errors as errors">
        <ng-container *ngFor="let key of objectKeys(errors)">
          <ng-container [ngSwitch]="key">
            <span *ngSwitchCase="'required'">Email is required</span>
            <span *ngSwitchCase="'email'">Enter a valid email address</span>
            <span *ngSwitchCase="'server'">{{ errors["server"] }}</span>
          </ng-container>
        </ng-container>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" required />
      <mat-error *ngIf="registerForm.get('password')?.errors as errors">
        <ng-container *ngFor="let key of objectKeys(errors)">
          <ng-container [ngSwitch]="key">
            <span *ngSwitchCase="'required'">Password required</span>
            <span *ngSwitchCase="'minlength'"
              >The password must be at least 6 characters long.</span
            >
            <span *ngSwitchCase="'server'">{{ errors["server"] }}</span>
          </ng-container>
        </ng-container>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Confirm password</mat-label>
      <input matInput type="password" formControlName="password2" required />
      <mat-error *ngIf="registerForm.get('password2')?.errors as errors">
        <ng-container *ngFor="let key of objectKeys(errors)">
          <ng-container [ngSwitch]="key">
            <span *ngSwitchCase="'passwordMismatch'">
              Passwords do not match
            </span>
            <span *ngSwitchCase="'required'">Password required</span>
            <span *ngSwitchCase="'server'">{{ errors["server"] }}</span>
          </ng-container>
        </ng-container>
      </mat-error>
    </mat-form-field>

    <mat-error
      *ngIf="(nonFieldErrors$ | async)?.length"
      class="non-field-errors"
    >
      <span *ngFor="let err of nonFieldErrors$ | async">
        {{ err }}
      </span>
    </mat-error>

    <div class="actions">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="registerForm.invalid || (loading$ | async)"
      >
        Register
      </button>
    </div>
  </form>
</mat-card>
