<mat-card>
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Username</mat-label>
      <input matInput type="text" formControlName="username" required />
      <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
        Enter your username
      </mat-error>
      <mat-error *ngIf="loginForm.get('username')?.hasError('username')">
        Please enter a valid username address
      </mat-error>
      <mat-error *ngIf="loginForm.get('username')?.hasError('server')">
        {{ loginForm.get("username")?.getError("server") }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" required />
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
        Enter password
      </mat-error>
      <mat-error *ngIf="loginForm.get('password')?.hasError('server')">
        {{ loginForm.get("password")?.getError("server") }}
      </mat-error>
    </mat-form-field>

    <div class="error non-field" *ngIf="nonFieldErrors?.length">
      <div *ngFor="let msg of nonFieldErrors">{{ msg }}</div>
    </div>

    <div class="actions">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="loginForm.invalid || (loading$ | async)"
      >
        Log in
      </button>
    </div>
  </form>
</mat-card>
