<mat-card>
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Username</mat-label>
      <input matInput type="text" formControlName="username" required />
      <mat-error *ngIf="loginForm.get('username')?.errors as errors">
        <ng-container *ngFor="let key of objectKeys(errors)">
          <ng-container [ngSwitch]="key">
            <span *ngSwitchCase="'required'">Enter your username</span>
            <span *ngSwitchCase="'server'">{{ errors["server"] }}</span>
          </ng-container>
        </ng-container>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" required />
      <mat-error *ngIf="loginForm.get('password')?.errors as errors">
        <ng-container *ngFor="let key of objectKeys(errors)">
          <ng-container [ngSwitch]="key">
            <span *ngSwitchCase="'required'">Enter password</span>
            <span *ngSwitchCase="'server'">{{ errors["server"] }}</span>
          </ng-container>
        </ng-container>
      </mat-error>
    </mat-form-field>

    <mat-error
      *ngIf="(nonFieldErrors$ | async)?.length"
      class="non-field-errors"
    >
      <span *ngFor="let err of nonFieldErrors$ | async">
        {{ err }}
      </span>
    </mat-error>

    <div class="actions">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="loginForm.invalid || (loading$ | async)"
      >
        Log in
      </button>
    </div>
  </form>
</mat-card>
